@font-face {
  font-family: 'Noto Sans Math';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=7Aump_cpkSecTWaHRlH2hyV5UHkD4VUQ3N2EiiLb_k6anV0&skey=27a26f5b3f2d5ea1&v=v15)
    format('woff2');
}
